:root {
    transition: 150ms ease-out;
}

html, body {
    height: 100%;
}

header {
    background-color: var(--primary-base);
    color: var(--text-color);
    padding-block-start: 2rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    padding-block-end: 2rem;
  }
  
  header > h1 {
    margin-block-start: 0;
    font-size: 3rem;
  }

.formdiv {
    flex-wrap: wrap;
    align-items: stretch;
    --gap: 2rem;
}

.formdiv > * {
    min-height: 100%;
}

.formdiv-inside-container {
    --gap: 2rem;
    --max-spc-width: 60vw;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
}

.formdiv-inside-container label, span {
    align-self: center;
}

.number-input {
    text-align: center;
    color: var(--blog-card-text-color);
    background-color: var(--section-offwhite-color);
    border: none;
}

#factoutput {
    text-align: center;
    transition: transform 150ms ease-in, max-width 750ms ease-in-out;

}

.extradiv {
    transition: transform 150ms ease-in, max-width 750ms ease-in-out;
}

.d-none {
    transform: translateX(200%);
    transition: 150ms ease-in-out;
    display: none;
}

.d-out {
    transform: translateX(200%);
    transition: 150ms ease-out;
}